/* 
.header_main {
    width: 910px;
    height: 300px;
    margin: auto;
}

.inset {
    border-style: inset;
    padding: 5px;
}

form {width: 900px;}
div.data-table {width: 900px;}

.uk-margin, .uk-legend {
    padding-left: 5%;
}

table.tr {
    padding-left: 5%;
    padding-right: 5%;
}
*/

/* #header {
    display: block;
    position: relative;
    background: url('../images/pexels-photo-258444-train-landscape.jpeg') 50% 0 no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */


  /* .banner-main-header {
    font-size: 2.875rem;
    text-align: center;
    color: #fefefe;
    margin: 0;
  } */
  
  /* .banner {
    background: url("https://via.placeholder.com/728x90?text=728x90+Leaderboard");
    position: relative;
    text-align: center;
    overflow: visible;
    padding: 5%;
  } */

  /* Container holding the image and the text */
/* 
.container_header {
    position: relative;
    text-align: center;
    color: white;
    width: auto;
}

.centered {
    display: inline-table;
    vertical-align: middle;
    line-height:100%;    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.container_header {
    position: relative;
    display: block;
    width: auto;
    text-align:center;
}

.centered {
    position:absolute;
    top: 50%;
    width: 100%;
    color: white;
}

.submitButton {
    display: block;
    margin: 0 auto;
    width: 200px;
}

img {
    margin: 0 auto;
    width: 60%;
    height: 75%;
}

* {
    margin: 30px;
    padding: 30px;
}

h2 {
    font-size: 4vw;
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    h2 {
      font-size: 1.5em;
    }

    img {
        width: auto;
        height: auto;
    }

    * {
        margin: 5px;
        padding: 5px;
    }

    table, thead, tbody, th, td, tr { display: block};

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid #ccc;}

    td {
        /* Behave like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/Left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    /*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Train Name"; }
	td:nth-of-type(2):before { content: "Destination"; }
	td:nth-of-type(3):before { content: "Frequency (mins.)"; }
	td:nth-of-type(4):before { content: "Next Arrival"; }
	td:nth-of-type(5):before { content: "Minutes Away"; }
	td:nth-of-type(6):before { content: "Update Train's Info"; }
    
}   
  